apps/n8n/workflows/video-generation-workflow.json
{
  "name": "Virtual Try-On Video Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "generate-video"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "videoId",
              "value": "={{ $json.body.videoId }}"
            },
            {
              "name": "productImageUrl",
              "value": "={{ $json.body.productImageUrl }}"
            },
            {
              "name": "modelHeight",
              "value": "={{ $json.body.modelHeight }}"
            },
            {
              "name": "modelWeight",
              "value": "={{ $json.body.modelWeight }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Request Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "=http://web:3000/api/videos/process",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 300000
        },
        "bodyParametersJson": "={\n  \"videoId\": \"{{ $json.videoId }}\",\n  \"productImageUrl\": \"{{ $json.productImageUrl }}\",\n  \"modelHeight\": {{ $json.modelHeight }},\n  \"modelWeight\": {{ $json.modelWeight }}\n}"
      },
      "id": "call-huggingface",
      "name": "Generate Video with Hugging Face",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Request Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Request Data": {
      "main": [
        [
          {
            "node": "Generate Video with Hugging Face",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video with Hugging Face": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "3"
}
