apps/n8n/workflows/video-generation-workflow.json
{
  "name": "Virtual Try-On Video Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "generate-video"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "videoId",
              "value": "={{ $json.body.videoId }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.body.userId }}"
            },
            {
              "name": "productId",
              "value": "={{ $json.body.productId }}"
            },
            {
              "name": "productImageUrl",
              "value": "={{ $json.body.productImageUrl }}"
            },
            {
              "name": "modelHeight",
              "value": "={{ $json.body.modelHeight }}"
            },
            {
              "name": "modelWeight",
              "value": "={{ $json.body.modelWeight }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Request Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "http://comfyui:8188/prompt",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"prompt\": {\n    \"1\": {\n      \"inputs\": {\n        \"image\": \"{{ $json.productImageUrl }}\",\n        \"width\": 512,\n        \"height\": 768,\n        \"batch_size\": 1\n      },\n      \"class_type\": \"LoadImage\"\n    },\n    \"2\": {\n      \"inputs\": {\n        \"model\": \"realistic_vision_v5.safetensors\",\n        \"clip_skip\": -2\n      },\n      \"class_type\": \"CheckpointLoaderSimple\"\n    },\n    \"3\": {\n      \"inputs\": {\n        \"text\": \"professional model wearing {{ $json.productName }}, full body shot, studio lighting, fashion photography, height {{ $json.modelHeight }}cm weight {{ $json.modelWeight }}kg body type\",\n        \"clip\": [\"2\", 1]\n      },\n      \"class_type\": \"CLIPTextEncode\"\n    },\n    \"4\": {\n      \"inputs\": {\n        \"model_name\": \"mm_sd_v15_v2.ckpt\"\n      },\n      \"class_type\": \"AnimateDiffLoader\"\n    },\n    \"5\": {\n      \"inputs\": {\n        \"motion_model\": [\"4\", 0],\n        \"model\": [\"2\", 0]\n      },\n      \"class_type\": \"AnimateDiffCombine\"\n    },\n    \"6\": {\n      \"inputs\": {\n        \"seed\": {{ Math.floor(Math.random() * 1000000) }},\n        \"steps\": 20,\n        \"cfg\": 7.5,\n        \"sampler_name\": \"euler_ancestral\",\n        \"scheduler\": \"normal\",\n        \"denoise\": 1,\n        \"model\": [\"5\", 0],\n        \"positive\": [\"3\", 0],\n        \"negative\": [\"7\", 0],\n        \"latent_image\": [\"8\", 0]\n      },\n      \"class_type\": \"KSampler\"\n    },\n    \"7\": {\n      \"inputs\": {\n        \"text\": \"blurry, low quality, deformed, ugly, bad anatomy\",\n        \"clip\": [\"2\", 1]\n      },\n      \"class_type\": \"CLIPTextEncode\"\n    },\n    \"8\": {\n      \"inputs\": {\n        \"width\": 512,\n        \"height\": 768,\n        \"batch_size\": 16\n      },\n      \"class_type\": \"EmptyLatentImage\"\n    },\n    \"9\": {\n      \"inputs\": {\n        \"samples\": [\"6\", 0],\n        \"vae\": [\"2\", 2]\n      },\n      \"class_type\": \"VAEDecode\"\n    },\n    \"10\": {\n      \"inputs\": {\n        \"frame_rate\": 8,\n        \"loop_count\": 0,\n        \"filename_prefix\": \"tryon_{{ $json.videoId }}\",\n        \"format\": \"video/h264-mp4\",\n        \"images\": [\"9\", 0]\n      },\n      \"class_type\": \"VHS_VideoCombine\"\n    }\n  },\n  \"client_id\": \"n8n-workflow\"\n}"
      },
      "id": "call-comfyui",
      "name": "Generate Video with ComfyUI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE \"GeneratedVideo\" SET status = 'PROCESSING' WHERE id = '{{ $json.videoId }}'",
        "options": {}
      },
      "id": "update-status-processing",
      "name": "Update Status to Processing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [910, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-for-video",
      "name": "Wait for Video Generation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "url": "=http://comfyui:8188/output/tryon_{{ $json.videoId }}_00001.mp4",
        "authentication": "none",
        "requestMethod": "GET",
        "options": {}
      },
      "id": "download-video",
      "name": "Download Generated Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "url": "http://minio:9000/videos",
        "authentication": "genericCredentialType",
        "requestMethod": "PUT",
        "sendBinaryData": true,
        "binaryData": "data",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "upload-to-minio",
      "name": "Upload Video to MinIO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE \"GeneratedVideo\" SET status = 'COMPLETED', \"videoUrl\" = 'http://localhost:9000/videos/tryon_{{ $json.videoId }}.mp4', \"updatedAt\" = NOW() WHERE id = '{{ $json.videoId }}'",
        "options": {}
      },
      "id": "update-video-url",
      "name": "Update Video URL in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1790, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@ecommerce.local",
        "toEmail": "={{ $json.userEmail }}",
        "subject": "Your Virtual Try-On Video is Ready!",
        "text": "=Hello,\n\nYour virtual try-on video has been generated successfully!\n\nYou can view your video here:\nhttp://localhost:3000/videos/{{ $json.videoId }}\n\nThank you for using our service!\n\nBest regards,\nVirtual Try-On E-commerce",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2010, 300],
      "credentials": {
        "smtp": {
          "id": "mailhog-smtp",
          "name": "Mailhog SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"videoId\": $json.videoId, \"message\": \"Video generation completed\" } }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2230, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Request Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Request Data": {
      "main": [
        [
          {
            "node": "Generate Video with ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video with ComfyUI": {
      "main": [
        [
          {
            "node": "Update Status to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Processing": {
      "main": [
        [
          {
            "node": "Wait for Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Video Generation": {
      "main": [
        [
          {
            "node": "Download Generated Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Generated Video": {
      "main": [
        [
          {
            "node": "Upload Video to MinIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to MinIO": {
      "main": [
        [
          {
            "node": "Update Video URL in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video URL in Database": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
